*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
.mainContainer{
   background-color: rgb(38, 53, 65);
}
#msg
{
    color: rgb(0, 255, 0);
}
#btnRollDice
{
    background-color: rgb(253, 13, 5);
    color:#fff;
    padding: 5px 15px 5px 15px;
}

.imgDice
{
animation-name: dice;
animation-duration: 0.5s;
}

@keyframes dice {
from {transform: rotate3d(1, 1, 1, 0deg);}
to {transform: rotate3d(2, 3, 4, 360deg); }
}

